
<div class="text-center mt-4  bg-success" style="font-family: 'Times New Roman', Times, serif;">
  <h1 class="pt-4 font-weight-bold"><span style="font-size: 40px; font-family: 'Times New Roman', Times, serif;">Admin Desk</span></h1>
  <p class="lead mt-4 font-weight-bold"><span style="font-size: 30px;font-weight: bold;">Welcome&nbsp; <%= user.name %></span> </p>
  <p class="lead text-light" style="font-size: 25px;">You are in admin area now.</p>
  <a href="/users/logout" class="btn btn-light btn-lg mt-3 mb-5">Logout</a>
  </div>